# Entorno Virtual
venv/
env/
ENV/

# Archivos de configuración sensible
.env
config/settings.py

# Archivos de Python (Cache y temporales)
__pycache__/
*.py[cod]
*$py.class

# Archivos de Medios (Documentos subidos por usuarios)
media/

# IDEs y Editores
.vscode/
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db